$fonts-size: (
  base: 62.5%, //html
  global: 1.2rem, //body
  h1: 2.4rem,
);

$fonts-family: (
  global: "Roboto",
  secondary: "Poppins",
);

$colors: (
  primary: #1e86ff,
  secondary: #334680,
  third: #282538,
  complementary: #b9bdcf,
);
